h1 {
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
}
h3 {
    color:rgb(207, 168, 168);
    border-bottom: 1px solid rgb(207, 168, 168);
    padding-bottom: 5xp;
    text-align: center;
}
body {
    background-color:#421010;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color:rgb(207, 168, 168);
}
.container{
    width:400px;
    background-color: #5f2121;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid#2c0707;
    box-shadow: 0 10px 30px #111220;
}
.card{
    background: #ffffff;
    padding: 15px;
    border-radius: 5px;
    border-left: 5xp solid #5f2121;
}
button{
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: rgb(207, 168, 168);
    border: none;
    border-radius: 5xp;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    
}
button:hover{
    background-color: rgb(214, 139, 139);
}

ul {
    list-style: nome;
    padding: 0;
}

li{
    padding: 5px 0;
    color: #c6cac8;
}

input, select{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #3f1111;
    background-color: #c78989;
    color: white;
    box-sizing: border-box;
}
hr{
    border:0;
    border-top: 1xp solid #2c0707;
    margin: 20xp 0;
}
